<html>
    <head>
        <% include include/head %>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1 class="crm-title">THIS IS HOW TO MANAGE CUSTOMERS</h1>
                <div class="crm-container">
                    <div class="logoff">
                        <input type="text" name="id">
                        <input type="password" name="pw">
                    </div>
                    <div class="logon">
                        <div class="crm-btn">LOGOUT</div>
                        <div class="crm-btn">MYPAGE</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>