<html>
    <head>
        <title>My workspace</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script>
        </script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <h1 class="crm-title">THIS IS HOW TO MANAGE CUSTOMERS</h1>
                <div class="crm-container">
                    <div class="logoff">
                        <input type="text" name="id">
                        <input type="password" name="pw">
                    </div>
                    <div class="logon">
                        <div class="crm-btn">LOGOUT</div>
                        <div class="crm-btn">MYPAGE</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>