<html>
    <head>
        <% include include/head %>
        <script>
            $(document).ready(function(){
                $(".home-btn").click(function(){
                    window.location.href = "/main";
                });
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="home-content" id="index-content">
                <div class="self-portrait"><img src="/images/juno-lee.jpg"></div>
                <h1 class="home-title">JUNO LEE</h1>
                <p class="introduce">
                    어서오세요<br>
                    웹 개발자 이준호입니다<br>
                </p>
                <div class="btn-padding"><div class="home-btn">enter</div></div>
            </div>
        </div>
    </body>
</html>